@model IEnumerable<ProdigyWeb.Models.SCliente>
@{
    ViewData["Title"] = "Clientes";
}
<!-- LISTA DE PEDIDOS INÍCIO -->
<div class="fundo">
  <div class="mb-3 d-flex flex-row justify-content-between w-100">
    <div class="title-page">
        <div class="title-system">Clientes</div>
    </div>
    <div class="div-button-search d-flex flex-row">
        <div class="div-botoes-estoque d-flex flex-row justify-content-around">
          <a asp-area="" asp-controller="SCliente" asp-action="AddCliente"><button class="button-dash-default me-2">Adicionar cliente</button></a>
        </div>
        <form asp-controller="SCliente" asp-action="Index" class="d-flex">
            <input name="nome" class="form-control ms-2 me-2 input-search" type="search" placeholder="Pesquisar cliente" aria-label="Search">
            <button class="button-search justify-content-center" type="submit">
              <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </button>
        </form>
    </div>
  </div> 
  <div class="table-responsive-lg tabela">
    <table class="table tabela-estoque">
      <thead>
        <tr>
          <th scope="col">Cód.</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th>
          <th scope="col">Data de registro</th>
          <th></th>
        </tr>
      </thead>
      @if(Model.Count() > 0)
      {
        @foreach(var item in Model)
        {
          <tbody>
            <tr>
              <th scope="row">@item.SClienteId</th>
              <td>@item.Nome</td>
              <td>@item.Cpf</td>
              <td>@item.Telefone</td>
              <td>@item.DataRegistro</td>
              <td>
                <div class="d-flex botoes-estoque">
                  <a asp-action="Editar" asp-controller="SCliente" asp-route-id="@item.SClienteId" type="button" class="botao-estoque" title="Editar cliente"><i class="fa-solid fa-square-pen fa-xl"></i></a>
                  </div>
              </td>
            </tr>
          </tbody>
        }
      }
    </table>
  </div>
</div>