@model IEnumerable<ProdigyWeb.Models.SFornecedor>
@{
    ViewData["Title"] = "Fornecedor";
}
<!-- LISTA DE PEDIDOS INÍCIO -->
<div class="fundo">
  <div class="mb-3 d-flex flex-row justify-content-between w-100">
    <div class="title-page">
        <div class="title-system">Fornecedor</div>
    </div>
    <div class="div-button-search d-flex flex-row">
        <div class="div-botoes-estoque d-flex flex-row justify-content-around">
          <a asp-area="" asp-controller="SFornecedor" asp-action="AddFornecedor"><button class="button-dash-default me-2">Adicionar fornecedor</button></a>
        </div>
       <form asp-controller="SFornecedor" asp-action="Index" method="get" class="d-flex">
                <input name="nome" id="nome" class="form-control ms-2 me-2 input-search" type="search" placeholder="Nome ou Código" aria-label="Search">
                <button class="button-search justify-content-center" type="submit">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </button>
        </form>
    </div>
  </div> 
  <div class="table-responsive-lg tabela">
    <table class="table tabela-estoque">
      <thead>
        <tr>
          <th scope="col">Cód.</th>
          <th scope="col">Nome</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @if(Model != null)
        {
          foreach(var item in Model)
          {
              <tr>
                <th scope="row">@item.SFornecedorId</th>
                <th>@item.NomeRazao</th>
                <td>@item.Cnpj</td>
                <td>@item.Email</td>
                <td>@item.Telefone</td>
                <td>
                  <div class="d-flex botoes-estoque">
                    <a asp-action="Editar" asp-controller="SFornecedor" asp-route-id="@item.SFornecedorId" type="button" class="botao-estoque" title="Editar cliente"><i class="fa-solid fa-square-pen fa-xl"></i></a>
                    </div>
                </td>
              </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>