@model ProdigyWeb.Models.SFuncionario

@{
    ViewData["Title"] = "Editar Funcionário";
    var funcionarios = new SFuncionario();

    if(Model != null)
    {
        funcionarios = Model;
    }
}

<div class="main-addproduto">
    <!-- INICIO FORMULARIO -->
        
        <div class="fundo mb-0 pb-0">
        <h1 class="title-system">Editar funcionário</h1>
        <a class="back-page" asp-action="Index" asp-controller="SFuncionario">
            <div class="icon-p">
                <i class="fa-solid fa-circle-left fa-lg"></i>
                <p class="m-0">Voltar</p>
            </div>
        </a>
    </div>
        <form asp-action="EditarFuncionario" asp-controller="SFuncionario" enctype="multipart/form-data">
        <div class="d-flex fundo">
            <div class="container addinputs">
                <div class="group-input-contato"> @*Input = Nome fantasia*@
                    <p class="label-estoque">Código</p>
                    <div class="input-contato input-group">
                        <input asp-for="SFuncionarioId" type="number" value="@funcionarios.SFuncionarioId" class="form-control">
                    </div>
                </div>
                <div class="group-input-contato"> @*Input = Nome do funcionário*@
                    <p class="label-estoque">Nome do funcionário</p>
                    <div class="input-contato input-group">
                        <input asp-for="Nome" type="text" value="@funcionarios.Nome" class="form-control" placeholder="Nome completo do funcionário" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = CPF*@
                    <p class="label-estoque">CPF</p>
                    <div class="input-contato input-group">
                        <input asp-for="Cpf" type="text" value="@funcionarios.Cpf" class="form-control" placeholder="000.000.000-00" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = CPF*@
                    <p class="label-estoque">Cargo</p>
                        <select asp-for="Nivel" class="form-select" aria-label="Default select example" required>
                        <option selected>@funcionarios.Nivel</option>
                            <option value="Funcionario">Funcionario</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Estoque">Estoque</option>
                        </select>
                </div>

                <div class="group-input-contato"> @*Input = Sexo*@
                    <p class="label-estoque">Sexo</p>
                   <select asp-for="Sexo" class="form-select" aria-label="Default select example" required>
                        <option selected>@funcionarios.Sexo</option>
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3">Outro</option>
                        <option value="4">Prefere não dizer</option>
                    </select>
                </div>

                <div class="group-input-contato"> @*Input = Quantidade de filhos*@
                    <p class="label-estoque">Quantidade de filhos</p>
                    <div class="input-contato input-group">
                        <input asp-for="QtFilhos" type="number" value="@funcionarios.QtFilhos" class="form-control" placeholder="0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Data de acerto*@
                    <p class="label-estoque">Data de acerto</p>
                    <div class="input-contato input-group">
                        <input asp-for="DataPagamento" type="date" value="@funcionarios.DataPagamento" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="mb-3"> @*Input = Adicionar imagem*@
                    <p class="label-estoque">Imagem</p> 
                    <input name="imagem" value="@funcionarios.Imagem" class="form-control" type="file">
                </div>
            </div>

            <div class="container formulario">
                <div class="group-input-contato"> @*Input = Data de nascimento*@
                    <p class="label-estoque">Data de nascimento</p>
                    <div class="input-contato input-group">
                        <input asp-for="DataNascimento" type="date" value="@funcionarios.DataNascimento" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="group-input-contato">
                    @*Input = Data de nascimento*@
                    <p class="label-estoque">Email</p>
                    <div class="input-contato input-group">
                        <input asp-for="Email" type="text" value="@funcionarios.Email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="group-input-contato"> @*Input = Telefone*@
                    <p class="label-estoque">Telefone</p>
                    <div class="input-contato input-group">
                        <input asp-for="Telefone" type="tel" value="@funcionarios.Telefone" class="form-control" placeholder="(99) 99999-9999" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Estado civil*@
                    <p class="label-estoque">Estado civil</p>
                   <select asp-for="EstadoCivil" class="form-select" aria-label="Default select example" required>
                        <option selected>@funcionarios.EstadoCivil</option>
                        <option value="1">Solteiro (a)</option>
                        <option value="2">Casado (a)</option>
                        <option value="3">Divorciado (a)</option>
                        <option value="4">Viúvo (a)</option>
                        <option value="5">Separado judicialmente</option>
                    </select>
                </div>

                <div class="group-input-contato"> @*Input = Categoria de habilitação*@
                    <p class="label-estoque">Categoria de habilitação</p>
                    <div class="input-contato input-group">
                        <input asp-for="Habilitacao" type="text" value="@funcionarios.Habilitacao" class="form-control" placeholder="Tipo A/B" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>

                <div class="group-input-contato"> @*Input = Salário atual*@
                    <p class="label-estoque">Salário atual</p>
                    <div class="input-contato input-group">
                        <input asp-for="Salario" type="text" value="@funcionarios.Salario" class="form-control" placeholder="R$0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                
                <div class="group-input-contato">
                    <p class="label-contato">Observações</p>

                    <div class="input-contato input-group">
                        <textarea asp-for="Observacao" value="@funcionarios.Observacao" class="input-detalhes form-control m-0" aria-label="With textarea" maxlength="150"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex fundo">
            <div class="container addinputs">
            <h2>Endereço</h2>
            <hr class="line-profile">
                <div class="group-input-contato">
                    <p class="label-estoque">Logradouro</p>
                    <div class="input-contato input-group">
                        <input asp-for="Rua" value="@funcionarios.Rua" class="form-control" type="text" placeholder="Logradouro">
                    </div>
                </div>

                <div class="group-input-contato">
                    <p class="label-estoque">Número</p>
                    <div class="input-contato input-group">
                        <input asp-for="Numero" value="@funcionarios.Numero" class="form-control" type="text" placeholder="000">
                    </div>
                </div>

                <div class="group-input-contato">
                    <p class="label-estoque">Bairro</p>
                    <div class="input-contato input-group">
                        <input asp-for="Bairro" value="@funcionarios.Bairro" class="form-control" type="text" placeholder="Bairro">
                    </div>
                </div>

                <div class="group-input-contato">
                    <p class="label-estoque">Complemento</p>
                    <div class="input-contato input-group">
                        <input asp-for="Complemento" value="@funcionarios.Complemento" class="form-control" type="text" placeholder="Nº Bloco/Apartamento...">
                    </div>
                </div>
            </div>

            <div class="container addinputs" style="margin-top: 4.38rem;">
                <div class="group-input-contato">
                    <p class="label-estoque">CEP</p>
                    <div class="input-contato input-group">
                        <input asp-for="Cep" value="@funcionarios.Cep" class="form-control" type="text" placeholder="00000-000">
                    </div>
                </div>
                <div class="group-input-contato">
                    <p class="label-estoque">Cidade</p>
                    <div class="input-contato input-group">
                        <input asp-for="Cidade" value="@funcionarios.Cidade" class="form-control" type="text" placeholder="Nome da cidade">
                    </div>
                </div>

                <div class="group-input-contato">
                    <p class="label-estoque">Estado</p>
                    <div class="input-contato input-group">
                        <input asp-for="Estado" value="@funcionarios.Estado" class="form-control" type="text" placeholder="Ex.:SP">
                    </div>
                </div>
                <div class="group-input-contato">
                    <p class="label-estoque">País</p>
                    <div class="input-contato input-group">
                        <input asp-for="Pais" value="@funcionarios.Pais" class="form-control" type="text" placeholder="Ex.: Brasil">
                    </div>
                </div>
                <div class="button-profile d-flex flex-row justify-content-center">
                    <a asp-action="Index" asp-controller="SFuncionario"><button type="button" class="button-small-cancel me-2">Cancelar</button></a>
                    <button type="submit" class="button-small-confirm ms-2">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>
    <!-- FIM FORMULARIO -->