@model ProdigyWeb.Models.Usuario
@{
    ViewData["Title"] = "Atualizar";

    var endereco = new Endereco();
    var juridico = new Juridico();

    if(ViewBag.Endereco != null)
    {
        endereco = ViewBag.Endereco;
    }
    if(ViewBag.Juridico != null)
    {
        juridico = ViewBag.Juridico;
    }
}
<div class="section-profile container-fluid d-flex flex-row justify-content-between pt-3 pb-5">
    <div class="container-fluid card-profile d-flex flex-column w-50">
            <ul class="nav nav-pills mb-3 mt-3 d-flex flex-row justify-content-around" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-conta" type="button" role="tab" aria-controls="pills-conta" aria-selected="true">Conta</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-endereco" type="button" role="tab" aria-controls="pills-endereco" aria-selected="false">Endereço/Contato</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-empresa" type="button" role="tab" aria-controls="pills-empresa" aria-selected="false">Empresa</button>
                </li>
            </ul>
        <hr class="line-profile">

        <div class="tab-content mx-3 mb-2" id="pills-tabContent">
              
            <div class="tab-pane fade show active" id="pills-conta" role="tabpanel" aria-labelledby="pills-conta-tab">

                <h4>Dados da Conta</h4>
                <div id="FormConta">
                    
                    <div class="form-row">
                        <div class="form-group col">
                            <p class="label-profile pb-1 m-0">Nome</p>
                            <input name="Nome" id="inputNome" class="inputProfile form-control" value="@Model.Nome" type="text" placeholder="Nome" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <p class="label-profile pb-1 m-0">CPF</p>
                            <input name="Cpf" id="inputCpf" class="inputProfile form-control" value="@Model.Cpf" type="text" placeholder="000.000.000-00" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <p class="label-profile pb-1 m-0">Data de nascimento</p>
                            <input name="DataNascimento" id="inputDtNasc" class="inputProfile form-control" value="@Model.DataNascimento" type="text" placeholder="00/00/00" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <p class="label-profile pb-1 m-0">Celular</p>
                            <input name="Telefone" id="inputTelefoneUsuario" class="inputProfile form-control" value="@Model.Telefone" type="text" placeholder="(DDD) Número" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <p class="label-profile pb-1 m-0">Email</p>
                            <input name="Email" id="inputEmail" class="inputProfile form-control" value="@Model.Email" type="email" placeholder="email@email" disabled>
                        </div>
                        <div class="form-group col-md-5">
                            <p class="label-profile pb-1 m-0">Nova Senha</p>
                            <input name="Senha" id="inputSenha" class="inputProfile form-control" type="password" placeholder="Nova Senha" disabled>
                        </div>
                    </div>

                    <div class="container d-flex justify-content-end p-0">
                        <button id="btnEditConta" type="button" class="buttonConfirm button-small">Editar</button>
                        <button id="btnCancelConta" type="button" class="buttonCancel button-small-cancel mx-2">Cancelar</button>
                        <button id="btnConfirmConta" class="buttonConfirm button-small">Confirmar</button>
                    </div>
                </div>
            </div>

            @*PAINEL ENDERECO*@
            <div class="tab-pane fade" id="pills-endereco" role="tabpanel" aria-labelledby="pills-endereco-tab">
                
                <h4>Endereço do Usuário</h4>
                <div class="form-row">
                    <div class="form-group col">
                        <p class="label-profile pb-1 m-0">Logradouro</p>
                        <input name="Rua" id="inputRua" class="inputProfile form-control" value="@endereco.Rua" type="text" placeholder="Logradouro" disabled>
                    </div>

                    <div class="form-group col-md-2">
                        <p class="label-profile pb-1 m-0">Número</p>
                        <input name="Numero" id="inputNumero" class="inputProfile form-control" value="@endereco.Numero" type="text" placeholder="000" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-7">
                        <p class="label-profile pb-1 m-0">Bairro</p>
                        <input name="Bairro" id="inputBairro" class="inputProfile form-control" value="@endereco.Bairro" type="email" placeholder="Bairro" disabled>
                    </div>

                    <div class="form-group col-md-5">
                        <p class="label-profile pb-1 m-0">Complemento</p>
                        <input name="Complemento" id="inputComplemento" class="inputProfile form-control" value="@endereco.Complemento" type="text" placeholder="Nº Bloco/Apartamento..." disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <p class="label-profile pb-1 m-0">CEP</p>
                        <input name="Cep" id="inputCep" class="inputProfile form-control" value="@endereco.Cep" type="text" placeholder="00000-000" disabled>
                    </div>
                    <div class="form-group col-md-8">
                        <p class="label-profile pb-1 m-0">Cidade</p>
                        <input name="Cidade" id="inputCidade" class="inputProfile form-control" value="@endereco.Cidade" type="text" placeholder="Nome da cidade" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <p class="label-profile pb-1 m-0">Estado</p>
                        <input name="Estado" id="inputEstado" class="inputProfile form-control" value="@endereco.Estado" type="text" placeholder="Ex.:SP" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <p class="label-profile pb-1 m-0">País</p>
                        <input name="Pais" id="inputPais" class="inputProfile form-control" value="@endereco.Pais" type="text" placeholder="Ex.: Brasil" disabled>
                    </div>
                </div>
                    <div class="container d-flex justify-content-end p-0">
                        <button id="btnEditEndereco" type="button" class="buttonConfirm button-small">Editar</button>
                        <button id="btnCancelEndereco" type="button" class="buttonCancel button-small-cancel mx-2">Cancelar</button>
                        <button id="btnConfirmEndereco" class="buttonConfirm button-small">Confirmar</button>
                    </div>
            </div>

            @*PAINEL EMPRESA*@
            <div class="tab-pane fade" id="pills-empresa" role="tabpanel" aria-labelledby="pills-empresa-tab">
                <h4>Dados da Empresa</h4>
                <div class="form-row">
                    <div class="form-group col">
                        <p class="label-profile pb-1 m-0">Nome da Empresa</p>
                        <input name="Razao" id="inputRazao" class="inputProfile form-control" value="@juridico.NomeRazao" type="text" placeholder="Razão Social" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <p class="label-profile pb-1 m-0">Data de Fundação</p>
                        <input name="DataFundacao" id="inputDtFundacao" class="inputProfile form-control" value="@juridico.DataFundacao" type="date" placeholder="dd/mm/aaaa" disabled>
                    </div>
                    
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <p class="label-profile pb-1 m-0">Celular</p>
                        <input name="Telefone" id="inputTelefoneJuridico" class="inputProfile form-control" value="@juridico.Telefone" type="text" placeholder="(DDD) Número" disabled>
                    </div>

                    <div class="form-group col-md-7">
                        <p class="label-profile pb-1 m-0">CNPJ</p>
                        <input name="Cnpj" id="inputCnpj" class="inputProfile form-control" value="@juridico.Cnpj" type="text" placeholder="00.000.000/0001-00" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <p class="label-profile pb-1 m-0">Reg. Municipal</p>
                        <input name="RgMunicipal" id="inputRegMunicipal" class="inputProfile form-control" value="@juridico.RgMunicipal" type="text" placeholder="Registro Municipal" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <p class="label-profile pb-1 m-0">Reg. Estadual</p>
                        <input name="RgEstadual" id="inputRegEstadual" class="inputProfile form-control" value="@juridico.RgEstadual" type="text" placeholder="Registro Estadual" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <p class="label-profile pb-1 m-0">Natureza Jurídica</p>
                        <input name="Natureza" id="inputNatureza" class="inputProfile form-control" value="@juridico.Natureza" type="text" placeholder="Natureza de Operação" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <p class="label-profile pb-1 m-0">Email da Empresa</p>
                        <input name="Email" id="inputEmailJuridico" class="inputProfile form-control" value="@juridico.Email" type="text" placeholder="E-mail da Empresa" disabled>
                    </div>
                </div>
                <br>

                <hr class="line-profile m-0 mb-3">
                <h4>Endereço da Empresa</h4>

                    <div class="form-row">
                        <div class="form-group col">
                            <p class="label-profile pb-1 m-0">Logradouro</p>
                            <input name="RuaEmpresa" id="inputRuaEmpresa" class="inputProfile form-control" value="@juridico.Rua" type="text" placeholder="Logradouro" disabled>
                        </div>

                        <div class="form-group col-md-2">
                            <p class="label-profile pb-1 m-0">Número</p>
                            <input name="NumeroEmpresa" id="inputNumeroEmpresa" class="inputProfile form-control" value="@juridico.Numero" type="text" placeholder="000" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <p class="label-profile pb-1 m-0">Bairro</p>
                        <input name="BairroEmpresa" id="inputBairroEmpresa" class="inputProfile form-control" value="@juridico.Bairro" type="email" placeholder="Bairro" disabled>
                        </div>

                        <div class="form-group col-md-5">
                            <p class="label-profile pb-1 m-0">Complemento</p>
                            <input name="ComplementoEmpresa" id="inputComplementoEmpresa" class="inputProfile form-control" value="@juridico.Complemento" type="text" placeholder="Nº Bloco/Apartamento..." disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <p class="label-profile pb-1 m-0">CEP</p>
                            <input name="CepEmpresa" id="inputCepEmpresa" class="inputProfile form-control" value="@juridico.Cep" type="text" placeholder="00000-000" disabled>
                        </div>
                        <div class="form-group col-md-8">
                            <p class="label-profile pb-1 m-0">Cidade</p>
                        <input name="CidadeEmpresa" id="inputCidadeEmpresa" class="inputProfile form-control" value="@juridico.Cidade" type="text" placeholder="Nome da cidade" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <p class="label-profile pb-1 m-0">Estado</p>
                            <input name="EstadoEmpresa" id="inputEstadoEmpresa" class="inputProfile form-control" value="@juridico.Estado" type="text" placeholder="Ex.:SP" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <p class="label-profile pb-1 m-0">País</p>
                        <input name="PaisEmpresa" id="inputPaisEmpresa" class="inputProfile form-control" value="@juridico.Pais" type="text" placeholder="Ex.: Brasil" disabled>
                        </div>
                    </div>

                <div class="container d-flex justify-content-end p-0">
                    <button id="btnEditEmpresa" type="button" class="buttonConfirm button-small">Editar</button>
                    <button id="btnCancelEmpresa" type="button" class="buttonCancel button-small-cancel mx-2">Cancelar</button>
                    <button id="btnConfirmEmpresa" class="buttonConfirm button-small">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
