@model ProdigyWeb.Models.Usuario
@{
    ViewData["Title"] = "Atualizar";

    var endereco = new Endereco();

    if(ViewBag.Endereco != null)
    {
        endereco = ViewBag.Endereco;
    }
}
<div class="section-profile container-fluid d-flex flex-row justify-content-between pt-3 pb-5">
    <div class="container-fluid card-profile d-flex flex-column w-50">
            <ul class="nav nav-pills mb-3 mt-3 d-flex flex-row justify-content-around" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-geral" type="button" role="tab" aria-controls="pills-geral" aria-selected="true">Geral</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-conta" type="button" role="tab" aria-controls="pills-conta" aria-selected="false">Conta</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-endereco" type="button" role="tab" aria-controls="pills-endereco" aria-selected="false">Endereço/Contato</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-empresa" type="button" role="tab" aria-controls="pills-empresa" aria-selected="false">Empresa</button>
                </li>
            </ul>
        <hr class="line-profile">

        <div class="tab-content mx-3 mb-2" id="pills-tabContent">
            @*PAINEL GERAL *@
            <div class="tab-pane fade show active" id="pills-geral" role="tabpanel" aria-labelledby="pills-geral-tab">
                <p class="label-profile pb-1 m-0">Forma de Pagamento</p>
                <div class="input-group pb-3">
                    <input class="form-control" value="" type="text" placeholder="Nenhum" disabled>
                </div>

                <p class="label-profile pb-1 m-0">Data de Registro</p>
                <div class="input-group pb-3">
                    <input class="form-control" value="" type="text" placeholder="00/00/0000" disabled>
                </div>

                <p class="label-profile pb-1 m-0">Status de Pagamento</p>
                <div class="input-group pb-3">
                    <input class="form-control" value="" type="text" placeholder="Informação" aria-label="Disabled input example" disabled>
                </div>

                <p class="label-profile pb-1 m-0">Plano Atual</p>
                <div class="input-group pb-3">
                        <input class="form-control" value="@Model.Plano" type="text" placeholder="Plano" aria-label="Disabled input example" disabled>
                </div>
                <p class="label-profile pb-1 m-0">Vencimento do plano</p>
                <div class="input-group pb-3">
                    <input class="form-control" type="text" placeholder="29/07/2023" aria-label="Disabled input example" disabled>
                </div>

                <div class="container d-flex justify-content-end p-0">
                    <button id="btnEditGeral" type="button" class="buttonConfirm button-small">Editar</button>
                    <button id="btnCancelGeral" type="button" class="buttonCancel button-small-cancel mx-2">Cancelar</button>
                    <button id="btnConfirmGeral" type="submit" class="buttonConfirm button-small">Confirmar</button>
                </div>
            </div>

            @*PAINEL CONTA*@
            <div class="tab-pane fade" id="pills-conta" role="tabpanel" aria-labelledby="pills-conta-tab">
                <div id="FormConta">
                    
                    <div class="form-row">
                        <div class="form-group col">
                            <p class="label-profile pb-1 m-0">Nome</p>
                            <input name="Nome" id="inputNome" class="inputProfile form-control" value="@Model.Nome" type="text" placeholder="Nome" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <p class="label-profile pb-1 m-0">CPF</p>
                            <input name="Cpf" id="inputCpf" class="inputProfile form-control" value="@Model.Cpf" type="text" placeholder="000.000.000-00" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <p class="label-profile pb-1 m-0">Data de nascimento</p>
                            <input name="DataNascimento" id="inputDtNasc" class="inputProfile form-control" value="@Model.DataNascimento" type="text" placeholder="00/00/00" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <p class="label-profile pb-1 m-0">Celular</p>
                            <input name="Telefone" id="inputTelefoneUsuario" class="inputProfile form-control" value="@Model.Telefone" type="text" placeholder="(DDD) Número" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <p class="label-profile pb-1 m-0">Email</p>
                            <input name="Email" id="inputEmail" class="inputProfile form-control" value="@Model.Email" type="email" placeholder="email@email" disabled>
                        </div>
                        <div class="form-group col-md-5">
                            <p class="label-profile pb-1 m-0">Nova Senha</p>
                            <input name="Senha" id="inputSenha" class="inputProfile form-control" type="password" placeholder="Nova Senha" disabled>
                        </div>
                    </div>

                    <div class="container d-flex justify-content-end p-0">
                        <button id="btnEditConta" type="button" class="buttonConfirm button-small">Editar</button>
                        <button id="btnCancelConta" type="button" class="buttonCancel button-small-cancel mx-2">Cancelar</button>
                        <button id="btnConfirmConta" class="buttonConfirm button-small">Confirmar</button>
                    </div>
                </div>
            </div>

            @*PAINEL ENDERECO*@
            <div class="tab-pane fade" id="pills-endereco" role="tabpanel" aria-labelledby="pills-endereco-tab">
                <div class="form-row">
                    <div class="form-group col">
                        <p class="label-profile pb-1 m-0">Logradouro</p>
                        <input name="Rua" id="inputRua" class="inputProfile form-control" value="@endereco.Rua" type="text" placeholder="Logradouro" disabled>
                    </div>

                    <div class="form-group col-md-2">
                        <p class="label-profile pb-1 m-0">Número</p>
                        <input name="Numero" id="inputNumero" class="inputProfile form-control" value="@endereco.Numero" type="text" placeholder="000" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-7">
                        <p class="label-profile pb-1 m-0">Bairro</p>
                        <input name="Bairro" id="inputBairro" class="inputProfile form-control" value="@endereco.Bairro" type="email" placeholder="Bairro" disabled>
                    </div>

                    <div class="form-group col-md-5">
                        <p class="label-profile pb-1 m-0">Complemento</p>
                        <input name="Complemento" id="inputComplemento" class="inputProfile form-control" value="@endereco.Complemento" type="text" placeholder="Nº Bloco/Apartamento..." disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <p class="label-profile pb-1 m-0">CEP</p>
                        <input name="Cep" id="inputCep" class="inputProfile form-control" value="@endereco.Cep" type="text" placeholder="00000-000" disabled>
                    </div>
                    <div class="form-group col-md-8">
                        <p class="label-profile pb-1 m-0">Cidade</p>
                        <input name="Cidade" id="inputCidade" class="inputProfile form-control" value="@endereco.Cidade" type="text" placeholder="Nome da cidade" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <p class="label-profile pb-1 m-0">Estado</p>
                        <input name="Estado" id="inputEstado" class="inputProfile form-control" value="@endereco.Estado" type="text" placeholder="Ex.:SP" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <p class="label-profile pb-1 m-0">País</p>
                        <input name="Pais" id="inputPais" class="inputProfile form-control" value="@endereco.Pais" type="text" placeholder="Ex.: Brasil" disabled>
                    </div>
                </div>
                    <div class="container d-flex justify-content-end p-0">
                        <button id="btnEditEndereco" type="button" class="buttonConfirm button-small">Editar</button>
                        <button id="btnCancelEndereco" type="button" class="buttonCancel button-small-cancel mx-2">Cancelar</button>
                        <button id="btnConfirmEndereco" class="buttonConfirm button-small">Confirmar</button>
                    </div>
            </div>

            @*PAINEL EMPRESA*@
            <div class="tab-pane fade" id="pills-empresa" role="tabpanel" aria-labelledby="pills-empresa-tab">D</div>
        </div>
    </div>
</div>
