@model ProdigyWeb.Models.Usuario;
@{
    ViewData["Title"] = "Perfil";
}
<div class="section-profile container-fluid pt-3 pb-5">
        <div class="container-fluid profile pb-5">
            <div class="container-fluid card-profile pt-3 justify-content-center text-center">
                <form asp-action="UploadImagem" asp-controller="Usuario" enctype="multipart/form-data">
                    <div class="personal-image">
                        <label class="label">
                            <input type="file" name="imagem" id="imagem-perfil" />
                            <figure class="personal-figure">
                                @if (Model.Imagem == "" || Model.Imagem == null)
                                {
                                    <img src="/img/fotoPerfil.png" class="personal-avatar" alt="avatar">
                                }
                                else
                                {
                                string img = "/Imagem/" + Model.Imagem;
                                    <img src="@img" class="personal-avatar" alt="avatar">
                                }
                                <figcaption class="personal-figcaption">
                                    <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                                </figcaption>
                            </figure>
                        </label>
                        <div class="button-profile2" id="btn-imagem">
                            <button class="secondary-button" type="submit">Atualizar Foto</button>
                        </div>
                    </div>
                </form>

                <p class="name-profile mb-5">@Model.Nome</p>

                <div class="info-profile mb-5">
                    <p class="info-user info-cargo mb-0">Cargo: @Model.Nivel</p>
                <p class="info-user info-email mb-0">@Model.Email</p>
                </div>

                <div class="button-profile d-flex justify-content-center">
                    <a style="text-decoration: none;" type="button" asp-controller="SHome" asp-action="Index"><button class="button-small">Acessar o Prodigy</button></a>
                </div>
                <div class="px-auto d-flex justify-content-center" style="margin-top: -10%; padding-bottom: 5%;">
                    <button type="button" class="button-small-cancel" data-toggle="modal" data-target="#modalExemplo">Deletar Conta</button>
                </div>
            </div>
        </div>
    <div class="container-fluid input-profile d-flex flex-column">
            <h2 class="info-input mb-3">Informações da empresa</h2>
        <p class="label-profile pb-1 m-0">Forma de pagamento</p>
        <div class="input-group pb-3">
            <input class="inputProfileName form-control" value="@Model.Email" type="text" placeholder="Nome" disabled>
        </div>

        <p class="label-profile pb-1 m-0">Data de registro</p>
        <div class="input-group pb-3">
            <input class="inputProfileDate form-control" value="@Model.DataRegistro" type="text" placeholder="00/00/0000" disabled>
        </div>

        <p class="label-profile pb-1 m-0">Status da Conta</p>
        <div class="input-group pb-3">
            <input class="form-control" value="@Model.Status" type="text" placeholder="Status" aria-label="Disabled input example" disabled>
        </div>

        <p class="label-profile pb-1 m-0">Plano Atual</p>
        <div class="input-group pb-3">
            <input class="form-control" value="@Model.Plano" type="text" placeholder="Plano" aria-label="Disabled input example" disabled>
        </div>
        <p class="label-profile pb-1 m-0">Vencimento do plano</p>
        <div class="input-group pb-3">
            <input class="form-control" type="text" placeholder="29/07/2023" aria-label="Disabled input example" disabled>
        </div>
<<<<<<< HEAD

=======
        
>>>>>>> 634585d8cbb100710ea1fa2956a623cf51ebaf73
        <div class="container button-atualizar d-flex p-0">
            <a style="text-decoration: none;" asp-action="Atualizar" asp-controller="Usuario" type="button" class="button-small">Atualizar dados</a>
        </div>        
    </div>
</div>