@model ProdigyWeb.Models.Usuario;
@{
    ViewData["Title"] = "Perfil";
}
    <div class="section-profile container-fluid d-flex flex-row justify-content-between pt-3 pb-5">
        <div class="container-fluid profile">
            <div class="container-fluid card-profile pt-3 justify-content-center text-center">
                <form asp-action="UploadImagem" asp-controller="Usuario" enctype="multipart/form-data">
                    <div class="personal-image">
                        <label class="label">
                            <input type="file" name="imagem" id="imagem-perfil" />
                            <figure class="personal-figure">
                                @if (Model.Imagem == "" || Model.Imagem == null)
                                {
                                    <img src="/img/fotoPerfil.png" class="personal-avatar" alt="avatar">
                                }
                                else
                                {
                                string img = "/Imagem/" + Model.Imagem;
                                    <img src="@img" class="personal-avatar" alt="avatar">
                                }
                                <figcaption class="personal-figcaption">
                                    <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                                </figcaption>
                            </figure>
                        </label>
                        <div class="button-profile2" id="btn-imagem">
                            <button class="secondary-button" type="submit">Atualizar Foto</button>
                        </div>
                    </div>
                </form>

                <p class="name-profile mb-5">@Model.Nome</p>

                <div class="info-profile mb-5">
                    <p class="info-user info-cargo mb-0">Cargo: @Model.Nivel</p>
                <p class="info-user info-email mb-0">@Model.Email</p>
                </div>

                <div class="button-profile d-flex justify-content-center">
                    <a style="text-decoration: none;" type="button" asp-controller="SEstoque" asp-action="Index"><button class="button-small">Acessar o Prodigy</button></a>
                </div>
                <div class="px-auto d-flex justify-content-center" style="margin-top: -10%; padding-bottom: 5%;">
                    <button type="button" class="button-small-cancel" data-toggle="modal" data-target="#modalExemplo">Deletar Conta</button>
                </div>
            </div>
        </div>
    <div class="container-fluid input-profile d-flex flex-column">
            <h2 class="info-input mb-3">Informações da empresa</h2>
        <p class="label-profile pb-1 m-0">Login</p>
        <div class="input-group pb-3">
            <input class="inputProfileName form-control" value="@Model.Email" type="text" placeholder="Nome" disabled>
        </div>

        <p class="label-profile pb-1 m-0">Data de registro</p>
        <div class="input-group pb-3">
            <input class="inputProfileDate form-control" value="@Model.DataRegistro" type="text" placeholder="00/00/0000" disabled>
        </div>

        <p class="label-profile pb-1 m-0">CPF</p>
        <div class="input-group pb-3">
            <input class="form-control" value="@Model.Cpf" type="text" placeholder="Informação" aria-label="Disabled input example" disabled>
        </div>

        <p class="label-profile pb-1 m-0">Plano Atual</p>
        <div class="input-group pb-3">
            <input class="form-control" value="@Model.Plano" type="text" placeholder="Plano" aria-label="Disabled input example" disabled>
        </div>
        <p class="label-profile pb-1 m-0">Vencimento do plano</p>
        <div class="input-group pb-3">
            <input class="form-control" type="text" placeholder="29/07/2023" aria-label="Disabled input example" disabled>
        </div>
        @*
        <div class="container d-flex justify-content-end p-0">
            <a id="buttonConfirm" type="button" class="button-small">Atualizar dados</a>
        </div>
        *@
        
    </div>
    @*
        <div class="container-fluid input-profile d-flex flex-column">
            <ul class="nav nav-pills ps-5 pe-5 mb-3 d-flex flex-row justify-content-between" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-geral" type="button" role="tab" aria-controls="pills-geral" aria-selected="true">Geral</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-conta" type="button" role="tab" aria-controls="pills-conta" aria-selected="false">Conta</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-endereco" type="button" role="tab" aria-controls="pills-endereco" aria-selected="false">Endereço</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-empresa" type="button" role="tab" aria-controls="pills-empresa" aria-selected="false">Empresa</button>
                </li>
            </ul>
            <hr class="line-profile">

            <div class="tab-content" id="pills-tabContent">
                @* PAINEL GERAL 
                <div class="tab-pane fade show active" id="pills-geral" role="tabpanel" aria-labelledby="pills-geral-tab">
                    <p class="label-profile pb-1 m-0">Nome da empresa</p>
                    <div class="input-group pb-3">
                        <input class="form-control" value="" type="text" placeholder="Nome" disabled>
                    </div>

                    <p class="label-profile pb-1 m-0">Data de fundação</p>
                    <div class="input-group pb-3">
                        <input class="form-control" value="" type="text" placeholder="00/00/0000" disabled>
                    </div>

                    <p class="label-profile pb-1 m-0">CPF</p>
                    <div class="input-group pb-3">
                        <input class="form-control" value="" type="text" placeholder="Informação" aria-label="Disabled input example" disabled>
                    </div>

                    <p class="label-profile pb-1 m-0">Plano Atual</p>
                    <div class="input-group pb-3">
                    <input class="form-control" value="@Model.Plano" type="text" placeholder="Plano" aria-label="Disabled input example" disabled>
                    </div>
                    <p class="label-profile pb-1 m-0">Vencimento do plano</p>
                    <div class="input-group pb-3">
                        <input class="form-control" type="text" placeholder="29/07/2023" aria-label="Disabled input example" disabled>
                    </div>
                </div>

                PAINEL CONTA
                <div class="tab-pane fade" id="pills-conta" role="tabpanel" aria-labelledby="pills-conta-tab">
                <form id="FormConta">
                    <input asp-for="UsuarioId" id="inputNome" class="inputProfile form-control" value="@Model.UsuarioId" type="hidden" placeholder="Nome" disabled>

                        <p class="label-profile pb-1 m-0">Nome</p>
                        <div class="input-group pb-3">
                        <input asp-for="Nome" class="inputProfile form-control" value="@Model.Nome" type="text" placeholder="Nome" disabled>
                        </div>

                        <p class="label-profile pb-1 m-0">CPF</p>
                        <div class="input-group pb-3">
                        <input asp-for="Cpf" id="inputCpf" class="inputProfile form-control" value="@Model.Cpf" type="text" placeholder="000.000.000-00" disabled>
                        </div>

                        <p class="label-profile pb-1 m-0">Email</p>
                        <div class="input-group pb-3">
                            <input asp-for="Email" id="inputEmail" class="inputProfile form-control" value="@Model.Email" type="email" placeholder="email@email" disabled>
                        </div>

                        <p class="label-profile pb-1 m-0">Data de nascimento</p>
                        <div class="input-group pb-3">
                        <input asp-for="DataNascimento" id="inputDtNasc" class="inputProfile form-control" value="@Model.DataNascimento" type="text" placeholder="00/00/00" disabled>
                        </div>


                        <p class="label-profile pb-1 m-0">Senha</p>
                        <div class="input-group pb-3">
                            <input asp-for="Senha" id="inputSenha" class="inputProfile form-control" type="password" placeholder="Nova Senha" disabled>
                        </div>

                        <div class="container d-flex justify-content-end p-0">
                        <button id="btnEdit" type="button" class="btnEdit button-edit">Editar</button>
                        <button type="button" id="buttonCancel" class="buttonCancel button-small-cancel mx-2">Cancelar</button>
                        <button type="submit" id="buttonConfirm" class="buttonConfirm button-small">Confirmar</button>
                        </div>

                    </form>
                </div>
                    <script>
                        $(document).ready(function() {
                            $('#FormConta').submit(function (event) {
                                event.preventDefault(); // Evita o comportamento padrão de recarregar a página

                                // Obter os dados do formulário
                                var formData = $(this).serialize();

                                // Enviar a requisição POST ao controlador usando o jQuery AJAX
                                $.ajax({
                                    url: '/Usuario/EditarConta',
                                    type: 'POST',
                                    data: formData
                                });
                            });
                        });
                    </script>

                PAINEL ENDERECO 
                <div class="tab-pane fade" id="pills-endereco" role="tabpanel" aria-labelledby="pills-endereco-tab">
                    <p class="label-profile pb-1 m-0">Rua</p>
                    <div class="input-group pb-3">
                        <input class="inputProfile form-control" value="" type="text" placeholder="Endereço" disabled>
                    </div>

                    <p class="label-profile pb-1 m-0">Número</p>
                    <div class="input-group pb-3">
                        <input class="inputProfile form-control" value="" type="text" placeholder="000" disabled>
                    </div>

                    <p class="label-profile pb-1 m-0">Email</p>
                    <div class="input-group pb-3">
                        <input class="inputProfile form-control" value="" type="email" placeholder="email@email" disabled>
                    </div>

                    <p class="label-profile pb-1 m-0">Data de nascimento</p>
                    <div class="input-group pb-3">
                        <input class="inputProfile form-control" value="" type="date" placeholder="00/00/00" disabled>
                    </div>

                    <p class="label-profile pb-1 m-0">CPF</p>
                    <div class="input-group pb-3">
                        <input class="inputProfile form-control" value="" type="text" placeholder="000.000.000-00" disabled>
                    </div>
                    <div class="container d-flex justify-content-end p-0">
                        <button id="btnEditEndereco" type="button" class="btnEdit button-edit">Editar</button>
                        <button type="button" class="buttonCancel button-small-cancel mx-2">Cancelar</button>
                        <button type="button" class="buttonConfirm button-small">Confirmar</button>
                    </div>
                </div>

                PAINEL EMPRESA 
                <div class="tab-pane fade" id="pills-empresa" role="tabpanel" aria-labelledby="pills-empresa-tab">D</div>
            </div>
        </div>*@
    </div>