<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prodigy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProdigyWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PagSobre.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PagContato.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rodape.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Perfil.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/planos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagamento.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cadastro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SDashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estoque.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addprodutos.css" asp-append-version="true" />
   
    <script type="text/javascript" charset="utf-8">
            
        window.onload = function() {
            Alert()
        }
        function Alert()
        {
            let url = window.location.href

            const btnCloseModalErro = document.querySelector('#closeModalErro')
            const btnCloseModalSucesso = document.querySelector('#closeModalSucesso')

            var erro = "@TempData["Erro"]"
            var sucesso = "@TempData["Sucesso"]"

            if (erro) {
                $('#modalErro').modal('show')
            }

            btnCloseModalErro.addEventListener('click', () => {
                $('#modalErro').modal('hide')
            })

            if (sucesso) {
                $('#modalSucesso').modal('show')
            }

            btnCloseModalSucesso.addEventListener('click', () => {
                $('#modalSucesso').modal('hide')
                if (url == 'https://localhost:7202/Usuario/Atualizar/1') {
                    window.location.href = 'https://localhost:7202/Usuario/Atualizar'
                }
                if(url == 'http://localhost:5157/Usuario/Atualizar/1'){
                    window.location.href = 'http://localhost:5157/Usuario/Atualizar'
                }
            })
        }
    </script>

</head>
<body>
    @*MENSAGEM DE ERRO*@
    <div class="modal" tabindex="-1" role="dialog" id="modalErro">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black">Ops!</h5>
                </div>
                <div class="modal-body text-black">
                    <p>@TempData["Erro"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModalErro" class="btn btn-secondary">Entendi</button>
                </div>
            </div>
        </div>
    </div>

    @*MENSAGEM DE SUCESSO*@
    <div class="modal" tabindex="-1" role="dialog" id="modalSucesso">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black">Sucesso</h5>
                </div>
                <div class="modal-body text-black">
                    <p>@TempData["Sucesso"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModalSucesso" class="btn btn-secondary">Entendi</button>
                </div>
            </div>
        </div>
    </div>

    @*DELETAR CONTA*@
    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="exampleModalLabel">Deletar a Conta?</h5>
                </div>
                <div class="modal-body text-black">
                    Você tem certeza que deseja deletar sua conta?<br /> Após a confirmação essa ação será irreversível!
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="button-small" data-dismiss="modal">Cancelar</button>
                    <a style="text-decoration: none;" class="button-small-cancel" asp-controller="Usuario" asp-action="DeletarConta" asp-route-id="@ViewBag.Id" data-dismiss="modal">Deletar</a>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Layout == "ProdigyWeb")
    {
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="logo-prodigy navbar-a" viewBox="0 0 400 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M174.815 34.0308C174.815 39.0139 174.026 43.5947 172.448 47.7731C170.869 51.9205 168.641 55.4954 165.762 58.4976C162.884 61.4999 159.417 63.8367 155.363 65.5081C151.339 67.1485 146.882 67.9687 141.992 67.9687C137.101 67.9687 132.644 67.1485 128.621 65.5081C124.597 63.8367 121.146 61.4999 118.268 58.4976C115.389 55.4954 113.161 51.9205 111.582 47.7731C110.004 43.5947 109.214 39.0139 109.214 34.0308C109.214 29.0476 110.004 24.4823 111.582 20.3349C113.161 16.1565 115.389 12.5662 118.268 9.5639C121.146 6.53069 124.597 4.1784 128.621 2.50704C132.644 0.835681 137.101 0 141.992 0C146.882 0 151.339 0.835681 155.363 2.50704C159.417 4.1784 162.884 6.53069 165.762 9.5639C168.641 12.5662 170.869 16.1565 172.448 20.3349C174.026 24.4823 174.815 29.0476 174.815 34.0308ZM165.576 34.0308C165.576 29.9452 165.019 26.2775 163.905 23.0276C162.791 19.7778 161.212 17.0386 159.17 14.8101C157.127 12.5507 154.651 10.8174 151.741 9.61033C148.832 8.40323 145.582 7.79969 141.992 7.79969C138.432 7.79969 135.198 8.40323 132.289 9.61033C129.379 10.8174 126.888 12.5507 124.814 14.8101C122.771 17.0386 121.193 19.7778 120.078 23.0276C118.964 26.2775 118.407 29.9452 118.407 34.0308C118.407 38.1163 118.964 41.784 120.078 45.0339C121.193 48.2528 122.771 50.992 124.814 53.2514C126.888 55.4799 129.379 57.1977 132.289 58.4048C135.198 59.5809 138.432 60.169 141.992 60.169C145.582 60.169 148.832 59.5809 151.741 58.4048C154.651 57.1977 157.127 55.4799 159.17 53.2514C161.212 50.992 162.791 48.2528 163.905 45.0339C165.019 41.784 165.576 38.1163 165.576 34.0308Z" fill="#E2F0EF" />
                            <path d="M267.346 67.2723H258.339V0.742828H267.346V67.2723Z" fill="#E2F0EF" />
                            <path d="M375.626 40.7626V67.2723H366.619V40.7626L342.245 0.742828H350.138C350.942 0.742828 351.577 0.944011 352.041 1.34638C352.506 1.71779 352.908 2.21301 353.248 2.83203L368.476 28.6917C369.033 29.775 369.544 30.7964 370.008 31.7559C370.473 32.6844 370.875 33.6284 371.215 34.5879C371.556 33.6284 371.943 32.6844 372.376 31.7559C372.809 30.7964 373.289 29.775 373.815 28.6917L388.997 2.83203C389.275 2.30586 389.662 1.82612 390.158 1.3928C390.653 0.959487 391.287 0.742828 392.061 0.742828H400L375.626 40.7626Z" fill="#E2F0EF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M81.069 32.0344C79.0881 32.6534 76.937 32.963 74.3371 32.963V40.0198C74.9561 40.3293 75.5287 40.8555 76.0549 41.5983L93.3256 65.3688C94.0994 66.6378 95.3065 67.2723 96.9469 67.2723H104.932L85.5259 40.8555C84.6903 39.6174 83.6998 38.6734 82.5546 38.0235C85.1236 37.4354 87.414 36.5688 89.4258 35.4236C91.4686 34.2784 93.1863 32.9011 94.5791 31.2916C96.0029 29.6512 97.0862 27.8096 97.829 25.7668C98.5719 23.724 98.9433 21.5265 98.9433 19.1742C98.9433 16.3577 98.4635 13.8197 97.504 11.5602C96.5445 9.26987 95.0589 7.31994 93.0471 5.71048C91.0662 4.10103 88.5437 2.87846 85.4795 2.04278C82.4154 1.17614 78.7786 0.742828 74.5693 0.742828H55.7664V67.2723H64.7268V39.7064V39.5091V32.963V7.84611H74.5693C79.769 7.84611 83.6689 8.85202 86.2688 10.8638C88.8687 12.8757 90.1686 15.8625 90.1686 19.8242C90.1686 21.7741 89.8282 23.5538 89.1472 25.1633C88.4663 26.7727 87.4449 28.1655 86.0831 29.3417C84.7522 30.4869 83.0808 31.3844 81.069 32.0344Z" fill="#E2F0EF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M338.404 60.819V35.2843H330.279V42.1554V42.7996V56.7798C327.989 58.0179 325.637 58.9929 323.223 59.7047C320.839 60.3857 318.1 60.7261 315.005 60.7261C311.074 60.7261 307.53 60.1226 304.373 58.9155C301.216 57.7084 298.524 55.9596 296.295 53.6693C294.098 51.3479 292.395 48.5468 291.188 45.266C290.012 41.9543 289.424 38.2092 289.424 34.0308C289.424 30.0071 289.997 26.3858 291.142 23.1669C292.287 19.9171 293.927 17.1624 296.063 14.903C298.199 12.6126 300.783 10.8638 303.816 9.65675C306.849 8.41871 310.239 7.79969 313.984 7.79969C316.553 7.79969 318.766 8.00087 320.623 8.40324C322.511 8.8056 324.136 9.30081 325.498 9.88889C326.89 10.446 328.066 11.0341 329.026 11.6531C329.985 12.2721 330.837 12.7983 331.579 13.2316C332.353 13.6959 333.05 13.8506 333.669 13.6959C334.319 13.5102 334.845 13.1078 335.247 12.4888L337.801 8.40324C336.377 7.10329 334.845 5.94262 333.204 4.92123C331.564 3.86889 329.784 2.98678 327.865 2.27491C325.946 1.53208 323.857 0.974964 321.598 0.603548C319.338 0.201183 316.893 0 314.262 0C309.062 0 304.358 0.820206 300.149 2.46062C295.939 4.10103 292.364 6.42236 289.424 9.42462C286.484 12.3959 284.209 15.9708 282.599 20.1492C281.021 24.3276 280.232 28.9548 280.232 34.0308C280.232 39.0449 281.052 43.6411 282.692 47.8195C284.333 51.9979 286.669 55.5882 289.703 58.5905C292.767 61.5618 296.45 63.8831 300.752 65.5545C305.054 67.1949 309.883 68.0151 315.237 68.0151C319.756 68.0151 323.904 67.427 327.68 66.2509C331.487 65.0438 335.061 63.2331 338.404 60.819Z" fill="#E2F0EF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.4168 34.2165C24.4669 34.8974 22.2074 35.2379 19.6385 35.2379H8.96035H0V67.2723H8.96035V42.3876H19.6385C23.6621 42.3876 27.206 41.8769 30.2702 40.8555C33.3653 39.8032 35.9497 38.3484 38.0235 36.4914C40.1281 34.6343 41.7221 32.4213 42.8054 29.8524C43.8887 27.2834 44.4303 24.4514 44.4303 21.3563C44.4303 18.2302 43.9197 15.3982 42.8983 12.8602C41.9078 10.3222 40.3912 8.15562 38.3484 6.36046C36.3057 4.56529 33.7213 3.18797 30.5952 2.22849C27.5001 1.23805 23.8478 0.742828 19.6385 0.742828H0V7.84611H8.96035H19.6385C24.9621 7.84611 28.9238 9.03773 31.5237 11.421C34.1546 13.8042 35.47 17.116 35.47 21.3563C35.47 23.3991 35.1295 25.2716 34.4486 26.9739C33.7677 28.6762 32.7463 30.1464 31.3844 31.3844C30.0535 32.5915 28.3977 33.5356 26.4168 34.2165Z" fill="#E2F0EF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M242.996 47.6338C244.574 43.5482 245.364 39.0139 245.364 34.0308C245.364 29.0476 244.574 24.5133 242.996 20.4277C241.417 16.3422 239.189 12.8447 236.31 9.93532C233.432 6.99496 229.965 4.73553 225.911 3.15702C221.887 1.54756 217.43 0.742828 212.54 0.742828H187.702V8.03182H196.708H212.54C216.13 8.03182 219.38 8.61989 222.29 9.79604C225.199 10.9722 227.675 12.6745 229.718 14.903C231.761 17.1315 233.339 19.8552 234.453 23.0741C235.568 26.293 236.125 29.9452 236.125 34.0308C236.125 38.1163 235.568 41.7686 234.453 44.9875C233.339 48.2064 231.761 50.9301 229.718 53.1586C227.675 55.3561 225.199 57.0429 222.29 58.2191C219.38 59.3952 216.13 59.9833 212.54 59.9833H196.708H187.702V67.2723H212.54C217.43 67.2723 221.887 66.483 225.911 64.9045C229.965 63.2951 233.432 61.0356 236.31 58.1262C239.189 55.2168 241.417 51.7193 242.996 47.6338Z" fill="#E2F0EF" />
                        </svg>
                    </a>
                    <button class="navbar-toggler navbar-a" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="../img/menu.png" alt="">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link navbar-a" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-a" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-a" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-a" asp-area="" asp-controller="Home" asp-action="Planos">Planos</a>
                            </li>

                            @if (ViewBag.Id == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link navbar-a" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link navbar-a" asp-area="" asp-controller="Usuario" asp-action="Cadastrar">Cadastrar-se</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link navbar-a" asp-area="" asp-controller="SEstoque" asp-action="Index">Sistema</a>
                            </li>
                            @if (ViewBag.Id != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link navbar-a" asp-area="" asp-controller="Usuario" asp-action="Index">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link navbar-a" asp-area="" asp-controller="Usuario" asp-action="Logout">Sair</a>
                                </li>
                                <li class="nav-item">
                                    <p class="nav-link navbar-a">
                                        @try
                                        {
                                            @ViewBag.Nome.ToString().Substring(0, @ViewBag.Nome.ToString().IndexOf(' '))
                                        }
                                        catch (Exception)
                                        {
                                            @ViewBag.Nome.ToString()
                                        }
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="container-fluid rodape">
                <div class="rodape-itens">
                    <ul class="rodape-lista">
                        <li><p>Home</p></li>
                        <li><p>Sobre</p></li>
                        <li><p>Contato</p></li>
                        <li><p>Planos</p></li>
                    </ul>
                </div>

                <br><br>

                <div class="rodape-logo">
                    <a href="#">
                        <svg class="logo-prodigy" viewBox="0 0 400 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M174.815 34.0308C174.815 39.0139 174.026 43.5947 172.448 47.7731C170.869 51.9205 168.641 55.4954 165.762 58.4976C162.884 61.4999 159.417 63.8367 155.363 65.5081C151.339 67.1485 146.882 67.9687 141.992 67.9687C137.101 67.9687 132.644 67.1485 128.621 65.5081C124.597 63.8367 121.146 61.4999 118.268 58.4976C115.389 55.4954 113.161 51.9205 111.582 47.7731C110.004 43.5947 109.214 39.0139 109.214 34.0308C109.214 29.0476 110.004 24.4823 111.582 20.3349C113.161 16.1565 115.389 12.5662 118.268 9.5639C121.146 6.53069 124.597 4.1784 128.621 2.50704C132.644 0.835681 137.101 0 141.992 0C146.882 0 151.339 0.835681 155.363 2.50704C159.417 4.1784 162.884 6.53069 165.762 9.5639C168.641 12.5662 170.869 16.1565 172.448 20.3349C174.026 24.4823 174.815 29.0476 174.815 34.0308ZM165.576 34.0308C165.576 29.9452 165.019 26.2775 163.905 23.0276C162.791 19.7778 161.212 17.0386 159.17 14.8101C157.127 12.5507 154.651 10.8174 151.741 9.61033C148.832 8.40323 145.582 7.79969 141.992 7.79969C138.432 7.79969 135.198 8.40323 132.289 9.61033C129.379 10.8174 126.888 12.5507 124.814 14.8101C122.771 17.0386 121.193 19.7778 120.078 23.0276C118.964 26.2775 118.407 29.9452 118.407 34.0308C118.407 38.1163 118.964 41.784 120.078 45.0339C121.193 48.2528 122.771 50.992 124.814 53.2514C126.888 55.4799 129.379 57.1977 132.289 58.4048C135.198 59.5809 138.432 60.169 141.992 60.169C145.582 60.169 148.832 59.5809 151.741 58.4048C154.651 57.1977 157.127 55.4799 159.17 53.2514C161.212 50.992 162.791 48.2528 163.905 45.0339C165.019 41.784 165.576 38.1163 165.576 34.0308Z" fill="#E2F0EF" />
                            <path d="M267.346 67.2723H258.339V0.742828H267.346V67.2723Z" fill="#E2F0EF" />
                            <path d="M375.626 40.7626V67.2723H366.619V40.7626L342.245 0.742828H350.138C350.942 0.742828 351.577 0.944011 352.041 1.34638C352.506 1.71779 352.908 2.21301 353.248 2.83203L368.476 28.6917C369.033 29.775 369.544 30.7964 370.008 31.7559C370.473 32.6844 370.875 33.6284 371.215 34.5879C371.556 33.6284 371.943 32.6844 372.376 31.7559C372.809 30.7964 373.289 29.775 373.815 28.6917L388.997 2.83203C389.275 2.30586 389.662 1.82612 390.158 1.3928C390.653 0.959487 391.287 0.742828 392.061 0.742828H400L375.626 40.7626Z" fill="#E2F0EF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M81.069 32.0344C79.0881 32.6534 76.937 32.963 74.3371 32.963V40.0198C74.9561 40.3293 75.5287 40.8555 76.0549 41.5983L93.3256 65.3688C94.0994 66.6378 95.3065 67.2723 96.9469 67.2723H104.932L85.5259 40.8555C84.6903 39.6174 83.6998 38.6734 82.5546 38.0235C85.1236 37.4354 87.414 36.5688 89.4258 35.4236C91.4686 34.2784 93.1863 32.9011 94.5791 31.2916C96.0029 29.6512 97.0862 27.8096 97.829 25.7668C98.5719 23.724 98.9433 21.5265 98.9433 19.1742C98.9433 16.3577 98.4635 13.8197 97.504 11.5602C96.5445 9.26987 95.0589 7.31994 93.0471 5.71048C91.0662 4.10103 88.5437 2.87846 85.4795 2.04278C82.4154 1.17614 78.7786 0.742828 74.5693 0.742828H55.7664V67.2723H64.7268V39.7064V39.5091V32.963V7.84611H74.5693C79.769 7.84611 83.6689 8.85202 86.2688 10.8638C88.8687 12.8757 90.1686 15.8625 90.1686 19.8242C90.1686 21.7741 89.8282 23.5538 89.1472 25.1633C88.4663 26.7727 87.4449 28.1655 86.0831 29.3417C84.7522 30.4869 83.0808 31.3844 81.069 32.0344Z" fill="#E2F0EF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M338.404 60.819V35.2843H330.279V42.1554V42.7996V56.7798C327.989 58.0179 325.637 58.9929 323.223 59.7047C320.839 60.3857 318.1 60.7261 315.005 60.7261C311.074 60.7261 307.53 60.1226 304.373 58.9155C301.216 57.7084 298.524 55.9596 296.295 53.6693C294.098 51.3479 292.395 48.5468 291.188 45.266C290.012 41.9543 289.424 38.2092 289.424 34.0308C289.424 30.0071 289.997 26.3858 291.142 23.1669C292.287 19.9171 293.927 17.1624 296.063 14.903C298.199 12.6126 300.783 10.8638 303.816 9.65675C306.849 8.41871 310.239 7.79969 313.984 7.79969C316.553 7.79969 318.766 8.00087 320.623 8.40324C322.511 8.8056 324.136 9.30081 325.498 9.88889C326.89 10.446 328.066 11.0341 329.026 11.6531C329.985 12.2721 330.837 12.7983 331.579 13.2316C332.353 13.6959 333.05 13.8506 333.669 13.6959C334.319 13.5102 334.845 13.1078 335.247 12.4888L337.801 8.40324C336.377 7.10329 334.845 5.94262 333.204 4.92123C331.564 3.86889 329.784 2.98678 327.865 2.27491C325.946 1.53208 323.857 0.974964 321.598 0.603548C319.338 0.201183 316.893 0 314.262 0C309.062 0 304.358 0.820206 300.149 2.46062C295.939 4.10103 292.364 6.42236 289.424 9.42462C286.484 12.3959 284.209 15.9708 282.599 20.1492C281.021 24.3276 280.232 28.9548 280.232 34.0308C280.232 39.0449 281.052 43.6411 282.692 47.8195C284.333 51.9979 286.669 55.5882 289.703 58.5905C292.767 61.5618 296.45 63.8831 300.752 65.5545C305.054 67.1949 309.883 68.0151 315.237 68.0151C319.756 68.0151 323.904 67.427 327.68 66.2509C331.487 65.0438 335.061 63.2331 338.404 60.819Z" fill="#E2F0EF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.4168 34.2165C24.4669 34.8974 22.2074 35.2379 19.6385 35.2379H8.96035H0V67.2723H8.96035V42.3876H19.6385C23.6621 42.3876 27.206 41.8769 30.2702 40.8555C33.3653 39.8032 35.9497 38.3484 38.0235 36.4914C40.1281 34.6343 41.7221 32.4213 42.8054 29.8524C43.8887 27.2834 44.4303 24.4514 44.4303 21.3563C44.4303 18.2302 43.9197 15.3982 42.8983 12.8602C41.9078 10.3222 40.3912 8.15562 38.3484 6.36046C36.3057 4.56529 33.7213 3.18797 30.5952 2.22849C27.5001 1.23805 23.8478 0.742828 19.6385 0.742828H0V7.84611H8.96035H19.6385C24.9621 7.84611 28.9238 9.03773 31.5237 11.421C34.1546 13.8042 35.47 17.116 35.47 21.3563C35.47 23.3991 35.1295 25.2716 34.4486 26.9739C33.7677 28.6762 32.7463 30.1464 31.3844 31.3844C30.0535 32.5915 28.3977 33.5356 26.4168 34.2165Z" fill="#E2F0EF" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M242.996 47.6338C244.574 43.5482 245.364 39.0139 245.364 34.0308C245.364 29.0476 244.574 24.5133 242.996 20.4277C241.417 16.3422 239.189 12.8447 236.31 9.93532C233.432 6.99496 229.965 4.73553 225.911 3.15702C221.887 1.54756 217.43 0.742828 212.54 0.742828H187.702V8.03182H196.708H212.54C216.13 8.03182 219.38 8.61989 222.29 9.79604C225.199 10.9722 227.675 12.6745 229.718 14.903C231.761 17.1315 233.339 19.8552 234.453 23.0741C235.568 26.293 236.125 29.9452 236.125 34.0308C236.125 38.1163 235.568 41.7686 234.453 44.9875C233.339 48.2064 231.761 50.9301 229.718 53.1586C227.675 55.3561 225.199 57.0429 222.29 58.2191C219.38 59.3952 216.13 59.9833 212.54 59.9833H196.708H187.702V67.2723H212.54C217.43 67.2723 221.887 66.483 225.911 64.9045C229.965 63.2951 233.432 61.0356 236.31 58.1262C239.189 55.2168 241.417 51.7193 242.996 47.6338Z" fill="#E2F0EF" />
                        </svg>
                    </a>
                </div>

                <br>

                <div class="rodape-slogan">
                    <p>Transformando desafios em <br> oportunidades de sucesso!</p>
                </div>

                <br><br>

                <div class="rodape-icons">
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.7143 0H4.28571C3.14907 0 2.05898 0.451529 1.25526 1.25526C0.451529 2.05898 0 3.14907 0 4.28571L0 35.7143C0 36.8509 0.451529 37.941 1.25526 38.7447C2.05898 39.5485 3.14907 40 4.28571 40H16.5402V26.4009H10.9152V20H16.5402V15.1214C16.5402 9.57232 19.8438 6.50714 24.9036 6.50714C27.3268 6.50714 29.8607 6.93929 29.8607 6.93929V12.3857H27.0688C24.3179 12.3857 23.4598 14.0929 23.4598 15.8438V20H29.6009L28.6188 26.4009H23.4598V40H35.7143C36.8509 40 37.941 39.5485 38.7447 38.7447C39.5485 37.941 40 36.8509 40 35.7143V4.28571C40 3.14907 39.5485 2.05898 38.7447 1.25526C37.941 0.451529 36.8509 0 35.7143 0Z" fill="#525661" />
                        </svg>
                    </div>
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.7143 0H4.28571C1.91964 0 0 1.91964 0 4.28571V35.7143C0 38.0804 1.91964 40 4.28571 40H35.7143C38.0804 40 40 38.0804 40 35.7143V4.28571C40 1.91964 38.0804 0 35.7143 0ZM31.3482 14.1786C31.3661 14.4286 31.3661 14.6875 31.3661 14.9375C31.3661 22.6786 25.4732 31.5982 14.7054 31.5982C11.3839 31.5982 8.30357 30.6339 5.71429 28.9732C6.1875 29.0268 6.64286 29.0446 7.125 29.0446C9.86607 29.0446 12.3839 28.1161 14.3929 26.5446C11.8214 26.4911 9.66072 24.8036 8.91964 22.4821C9.82143 22.6161 10.6339 22.6161 11.5625 22.375C8.88393 21.8304 6.875 19.4732 6.875 16.625V16.5536C7.65179 16.9911 8.5625 17.2589 9.51786 17.2946C8.71467 16.7604 8.05623 16.0356 7.60131 15.185C7.14639 14.3343 6.90914 13.3843 6.91071 12.4196C6.91071 11.3304 7.19643 10.3304 7.70536 9.46429C10.5893 13.0179 14.9196 15.3393 19.7768 15.5893C18.9464 11.6161 21.9196 8.39286 25.4911 8.39286C27.1786 8.39286 28.6964 9.09821 29.7679 10.2411C31.0893 9.99107 32.3571 9.5 33.4821 8.83036C33.0446 10.1875 32.125 11.3304 30.9107 12.0536C32.0893 11.9286 33.2321 11.5982 34.2857 11.1429C33.4911 12.3125 32.4911 13.3482 31.3482 14.1786Z" />
                        </svg>
                    </div>
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M37.1429 0H2.84821C1.27679 0 0 1.29464 0 2.88393V37.1161C0 38.7054 1.27679 40 2.84821 40H37.1429C38.7143 40 40 38.7054 40 37.1161V2.88393C40 1.29464 38.7143 0 37.1429 0ZM12.0893 34.2857H6.16071V15.1964H12.0982V34.2857H12.0893ZM9.125 12.5893C7.22321 12.5893 5.6875 11.0446 5.6875 9.15179C5.6875 7.25893 7.22321 5.71429 9.125 5.71429C11.0179 5.71429 12.5625 7.25893 12.5625 9.15179C12.5625 11.0536 11.0268 12.5893 9.125 12.5893ZM34.3125 34.2857H28.3839V25C28.3839 22.7857 28.3393 19.9375 25.3036 19.9375C22.2143 19.9375 21.7411 22.3482 21.7411 24.8393V34.2857H15.8125V15.1964H21.5V17.8036H21.5804C22.375 16.3036 24.3125 14.7232 27.1964 14.7232C33.1964 14.7232 34.3125 18.6786 34.3125 23.8214V34.2857Z" />
                        </svg>
                    </div>
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 15.2375C19.0581 15.2379 18.1375 15.5175 17.3546 16.041C16.5716 16.5645 15.9615 17.3084 15.6013 18.1787C15.2411 19.049 15.147 20.0065 15.331 20.9302C15.515 21.8539 15.9687 22.7024 16.6348 23.3682C17.3009 24.0341 18.1495 24.4875 19.0733 24.6711C19.9971 24.8547 20.9546 24.7603 21.8247 24.3998C22.6949 24.0393 23.4386 23.4289 23.9618 22.6457C24.485 21.8626 24.7643 20.9419 24.7643 20C24.7633 18.7369 24.261 17.5258 23.3677 16.6328C22.4744 15.7398 21.2631 15.238 20 15.2375ZM31.1348 11.5768C30.8924 10.9624 30.5263 10.4043 30.0592 9.93724C29.5921 9.47017 29.0341 9.10406 28.4196 8.86161C26.5446 8.12143 22.0804 8.2875 20 8.2875C17.9196 8.2875 13.4598 8.11518 11.5795 8.86161C10.965 9.10406 10.407 9.47017 9.93992 9.93724C9.47285 10.4043 9.10674 10.9624 8.86429 11.5768C8.125 13.4518 8.29018 17.9205 8.29018 19.9991C8.29018 22.0777 8.125 26.5411 8.86786 28.4223C9.11031 29.0367 9.47642 29.5948 9.94349 30.0619C10.4106 30.5289 10.9686 30.8951 11.583 31.1375C13.458 31.8777 17.9223 31.7116 20.0036 31.7116C22.0848 31.7116 26.5429 31.8839 28.4232 31.1375C29.0376 30.8951 29.5957 30.5289 30.0628 30.0619C30.5298 29.5948 30.8959 29.0367 31.1384 28.4223C31.8839 26.5473 31.7125 22.0786 31.7125 20C31.7125 17.9214 31.8839 13.4589 31.1384 11.5777L31.1348 11.5768ZM20 27.3214C18.552 27.3214 17.1364 26.892 15.9324 26.0875C14.7284 25.2831 13.79 24.1396 13.2359 22.8018C12.6817 21.464 12.5368 19.9919 12.8193 18.5717C13.1018 17.1514 13.799 15.8469 14.823 14.823C15.8469 13.799 17.1514 13.1018 18.5717 12.8193C19.9919 12.5368 21.464 12.6817 22.8018 13.2359C24.1396 13.79 25.2831 14.7284 26.0875 15.9324C26.892 17.1364 27.3214 18.552 27.3214 20C27.3226 20.9618 27.134 21.9144 26.7665 22.8032C26.399 23.692 25.8597 24.4996 25.1797 25.1797C24.4996 25.8597 23.692 26.399 22.8032 26.7665C21.9144 27.134 20.9618 27.3226 20 27.3214ZM27.6232 14.0804C27.2852 14.0805 26.9547 13.9805 26.6735 13.7928C26.3924 13.6051 26.1732 13.3383 26.0437 13.026C25.9143 12.7138 25.8803 12.3701 25.9461 12.0386C26.012 11.707 26.1746 11.4024 26.4136 11.1633C26.6526 10.9243 26.9571 10.7614 27.2886 10.6954C27.6201 10.6294 27.9638 10.6632 28.2761 10.7925C28.5884 10.9218 28.8554 11.1409 29.0432 11.4219C29.231 11.703 29.3313 12.0334 29.3313 12.3714C29.3322 12.5959 29.2888 12.8184 29.2036 13.026C29.1184 13.2337 28.993 13.4225 28.8346 13.5816C28.6763 13.7407 28.488 13.867 28.2808 13.9532C28.0735 14.0394 27.8513 14.0838 27.6268 14.0839L27.6232 14.0804ZM35.7143 0H4.28571C3.14907 0 2.05898 0.451529 1.25526 1.25526C0.451529 2.05898 0 3.14907 0 4.28571L0 35.7143C0 36.8509 0.451529 37.941 1.25526 38.7447C2.05898 39.5485 3.14907 40 4.28571 40H35.7143C36.8509 40 37.941 39.5485 38.7447 38.7447C39.5485 37.941 40 36.8509 40 35.7143V4.28571C40 3.14907 39.5485 2.05898 38.7447 1.25526C37.941 0.451529 36.8509 0 35.7143 0ZM34.1857 25.8929C34.0705 28.1813 33.5482 30.2089 31.8777 31.875C30.2071 33.5411 28.1813 34.0741 25.8955 34.183C23.5375 34.3161 16.4679 34.3161 14.1098 34.183C11.8214 34.0679 9.80089 33.5446 8.12768 31.875C6.45446 30.2054 5.92857 28.1768 5.81964 25.8929C5.68661 23.5339 5.68661 16.4634 5.81964 14.1071C5.93482 11.8188 6.45089 9.79107 8.12768 8.125C9.80446 6.45893 11.8304 5.93214 14.1098 5.82321C16.4679 5.69018 23.5375 5.69018 25.8955 5.82321C28.1839 5.93839 30.2107 6.46161 31.8777 8.13125C33.5446 9.80089 34.0768 11.8295 34.1857 14.1179C34.3188 16.4679 34.3188 23.5321 34.1857 25.8929Z" />
                        </svg>

                    </div>
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6786 15.1875L25.1786 20.0179L16.6786 24.8482V15.1875ZM40 4.28571V35.7143C40 38.0804 38.0804 40 35.7143 40H4.28571C1.91964 40 0 38.0804 0 35.7143V4.28571C0 1.91964 1.91964 0 4.28571 0H35.7143C38.0804 0 40 1.91964 40 4.28571ZM36.25 20.0268C36.25 20.0268 36.25 14.7054 35.5714 12.1518C35.1964 10.7411 34.0982 9.63393 32.6964 9.25893C30.1696 8.57143 20 8.57143 20 8.57143C20 8.57143 9.83036 8.57143 7.30357 9.25893C5.90179 9.63393 4.80357 10.7411 4.42857 12.1518C3.75 14.6964 3.75 20.0268 3.75 20.0268C3.75 20.0268 3.75 25.3482 4.42857 27.9018C4.80357 29.3125 5.90179 30.375 7.30357 30.75C9.83036 31.4286 20 31.4286 20 31.4286C20 31.4286 30.1696 31.4286 32.6964 30.7411C34.0982 30.3661 35.1964 29.3036 35.5714 27.8929C36.25 25.3482 36.25 20.0268 36.25 20.0268Z" />
                        </svg>
                    </div>
                </div>

                <br><br>
                <hr>
                <br>
                <div class="rodape-copyright">
                    <p>Copyright © 2023 | Prodigy. Todos os direitos reservados.<p>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/perfil.js" asp-append-version="true"></script>
        <script src="~/js/payment.js" asp-append-version="true"></script>
        <script src="~/js/doughnut.js" asp-append-version="true"></script>
        <script src="~/js/atualizarUsuario.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    }
    else if(ViewBag.Layout == "Dashboard")
    {
        <header>
            <nav class="nav">
            <!-- NAVBAR INÍCIO -->
            <div class="barra">
                <div class="topo">
                    <img src="~/img/svg/PRODIGY.svg" alt="" class="logo">
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Index"><img src="~/img/svg/Dashboard.svg" alt=""><p class="ps-3 m-0">Dashboard</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Caixa"><img src="~/img/svg/Balance.svg" alt=""><p class="ps-3 m-0">Fluxo de caixa</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Pedidos"><img src="~/img/svg/Tips.svg" alt=""><p class="ps-3 m-0">Pedidos</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SEstoque" asp-action="Index"><img src="~/img/svg/Inventory.svg" alt=""><p class="ps-3 m-0">Estoque</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SFuncionario" asp-action="Index"><img src="~/img/svg/Employeers.svg" alt=""><p class="ps-3 m-0">Funcionários</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Agenda"><img src="~/img/svg/Calendar.svg" alt=""><p class="ps-3 m-0">Agenda</p></a>
                </div>
                <hr id="hr">
                <div class="baixo">
                    <a class="ps-3" asp-area="" asp-controller="Usuario" asp-action="Index"><img src="~/img/svg/Profile.svg" alt=""><p class="ps-3 m-0">Perfil</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Config"><img src="~/img/svg/Config.svg" alt=""><p class="ps-3 m-0">Configurações</p></a>
                        <a class="ps-3" asp-area="" asp-controller="Usuario" asp-action="Logout"><img src="~/img/svg/Subtract.svg" alt=""><p class="ps-3 m-0">Sair</p></a>
                </div>
            </div>
            <!-- NAVBAR FIM -->
            </nav>
            
        </header>


        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/perfil.js" asp-append-version="true"></script>
        <script src="~/js/payment.js" asp-append-version="true"></script>
        <script src="~/js/doughnut.js" asp-append-version="true"></script>
        <script src="~/js/estoque.js" asp-append-version="true"></script>
        <script src="~/js/atualizarUsuario.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    }

    <script src="https://kit.fontawesome.com/6fe9f6935b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js" integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="http://www.chartjs.org/assets/Chart.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>