<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prodigy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProdigyWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/PagSobre.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/PagContato.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/rodape.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Perfil.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/planos.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/pagamento.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/cadastro.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/SDashboard.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/estoque.css" asp-append-version="true"/>
   
    <script type="text/javascript" charset="utf-8">
            
            window.onload = function () {
            var erro = "@TempData["Erro"]"

            if (erro) {
                alert(erro.toString("utf-8"))
            }
        }
    </script>

</head>
<body>
    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="exampleModalLabel">Deletar a Conta?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-black">
                    Você tem certeza que deseja deletar sua conta? Após a confirmação essa ação será irreversível!
                </div>
                <div class="modal-footer me-0">
                    <button type="button" class="button-small-cancel" data-dismiss="modal">Cancelar</button>
                    <a style="text-decoration: none; padding-top: 1.3%;" asp-action="DeletarConta" asp-controller="Usuario" type="button" asp class="button-small">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    @if(ViewBag.Layout == "ProdigyWeb")
    {
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="../img/prodigy.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="../img/menu.png" alt="">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Planos">Planos</a>
                            </li>

                            @if (ViewBag.Id == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Cadastrar">Cadastrar-se</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="SHome" asp-action="Index">Sistema</a>
                            </li>
                            @if (ViewBag.Id != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Index">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Logout">Sair</a>
                                </li>
                                <li class="nav-item">
                                    <p class="nav-link">
                                        @try
                                        {
                                            @ViewBag.Nome.ToString().Substring(0, @ViewBag.Nome.ToString().IndexOf(' '))
                                        }
                                        catch (Exception)
                                        {
                                            @ViewBag.Nome.ToString()
                                        }
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="container-fluid rodape">
                <div class="rodape-itens">
                    <ul class="rodape-lista">
                        <li><p>Home</p></li>
                        <li><p>Sobre</p></li>
                        <li><p>Contato</p></li>
                        <li><p>Planos</p></li>
                    </ul>
                </div>

                <br><br>

                <div class="rodape-logo">
                    <img src="../img/svg/PRODIGY.svg" alt="Logo">
                </div>

                <br>

                <div class="rodape-slogan">
                    <p>Transformando desafios em <br> oportunidades de sucesso!</p>
                </div>

                <br><br>

                <div class="rodape-icons">
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.7143 0H4.28571C3.14907 0 2.05898 0.451529 1.25526 1.25526C0.451529 2.05898 0 3.14907 0 4.28571L0 35.7143C0 36.8509 0.451529 37.941 1.25526 38.7447C2.05898 39.5485 3.14907 40 4.28571 40H16.5402V26.4009H10.9152V20H16.5402V15.1214C16.5402 9.57232 19.8438 6.50714 24.9036 6.50714C27.3268 6.50714 29.8607 6.93929 29.8607 6.93929V12.3857H27.0688C24.3179 12.3857 23.4598 14.0929 23.4598 15.8438V20H29.6009L28.6188 26.4009H23.4598V40H35.7143C36.8509 40 37.941 39.5485 38.7447 38.7447C39.5485 37.941 40 36.8509 40 35.7143V4.28571C40 3.14907 39.5485 2.05898 38.7447 1.25526C37.941 0.451529 36.8509 0 35.7143 0Z" fill="#525661"/>
                        </svg>
                    </div>
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.7143 0H4.28571C1.91964 0 0 1.91964 0 4.28571V35.7143C0 38.0804 1.91964 40 4.28571 40H35.7143C38.0804 40 40 38.0804 40 35.7143V4.28571C40 1.91964 38.0804 0 35.7143 0ZM31.3482 14.1786C31.3661 14.4286 31.3661 14.6875 31.3661 14.9375C31.3661 22.6786 25.4732 31.5982 14.7054 31.5982C11.3839 31.5982 8.30357 30.6339 5.71429 28.9732C6.1875 29.0268 6.64286 29.0446 7.125 29.0446C9.86607 29.0446 12.3839 28.1161 14.3929 26.5446C11.8214 26.4911 9.66072 24.8036 8.91964 22.4821C9.82143 22.6161 10.6339 22.6161 11.5625 22.375C8.88393 21.8304 6.875 19.4732 6.875 16.625V16.5536C7.65179 16.9911 8.5625 17.2589 9.51786 17.2946C8.71467 16.7604 8.05623 16.0356 7.60131 15.185C7.14639 14.3343 6.90914 13.3843 6.91071 12.4196C6.91071 11.3304 7.19643 10.3304 7.70536 9.46429C10.5893 13.0179 14.9196 15.3393 19.7768 15.5893C18.9464 11.6161 21.9196 8.39286 25.4911 8.39286C27.1786 8.39286 28.6964 9.09821 29.7679 10.2411C31.0893 9.99107 32.3571 9.5 33.4821 8.83036C33.0446 10.1875 32.125 11.3304 30.9107 12.0536C32.0893 11.9286 33.2321 11.5982 34.2857 11.1429C33.4911 12.3125 32.4911 13.3482 31.3482 14.1786Z"/>
                        </svg>
                    </div>
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M37.1429 0H2.84821C1.27679 0 0 1.29464 0 2.88393V37.1161C0 38.7054 1.27679 40 2.84821 40H37.1429C38.7143 40 40 38.7054 40 37.1161V2.88393C40 1.29464 38.7143 0 37.1429 0ZM12.0893 34.2857H6.16071V15.1964H12.0982V34.2857H12.0893ZM9.125 12.5893C7.22321 12.5893 5.6875 11.0446 5.6875 9.15179C5.6875 7.25893 7.22321 5.71429 9.125 5.71429C11.0179 5.71429 12.5625 7.25893 12.5625 9.15179C12.5625 11.0536 11.0268 12.5893 9.125 12.5893ZM34.3125 34.2857H28.3839V25C28.3839 22.7857 28.3393 19.9375 25.3036 19.9375C22.2143 19.9375 21.7411 22.3482 21.7411 24.8393V34.2857H15.8125V15.1964H21.5V17.8036H21.5804C22.375 16.3036 24.3125 14.7232 27.1964 14.7232C33.1964 14.7232 34.3125 18.6786 34.3125 23.8214V34.2857Z"/>
                        </svg>
                    </div>
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 15.2375C19.0581 15.2379 18.1375 15.5175 17.3546 16.041C16.5716 16.5645 15.9615 17.3084 15.6013 18.1787C15.2411 19.049 15.147 20.0065 15.331 20.9302C15.515 21.8539 15.9687 22.7024 16.6348 23.3682C17.3009 24.0341 18.1495 24.4875 19.0733 24.6711C19.9971 24.8547 20.9546 24.7603 21.8247 24.3998C22.6949 24.0393 23.4386 23.4289 23.9618 22.6457C24.485 21.8626 24.7643 20.9419 24.7643 20C24.7633 18.7369 24.261 17.5258 23.3677 16.6328C22.4744 15.7398 21.2631 15.238 20 15.2375ZM31.1348 11.5768C30.8924 10.9624 30.5263 10.4043 30.0592 9.93724C29.5921 9.47017 29.0341 9.10406 28.4196 8.86161C26.5446 8.12143 22.0804 8.2875 20 8.2875C17.9196 8.2875 13.4598 8.11518 11.5795 8.86161C10.965 9.10406 10.407 9.47017 9.93992 9.93724C9.47285 10.4043 9.10674 10.9624 8.86429 11.5768C8.125 13.4518 8.29018 17.9205 8.29018 19.9991C8.29018 22.0777 8.125 26.5411 8.86786 28.4223C9.11031 29.0367 9.47642 29.5948 9.94349 30.0619C10.4106 30.5289 10.9686 30.8951 11.583 31.1375C13.458 31.8777 17.9223 31.7116 20.0036 31.7116C22.0848 31.7116 26.5429 31.8839 28.4232 31.1375C29.0376 30.8951 29.5957 30.5289 30.0628 30.0619C30.5298 29.5948 30.8959 29.0367 31.1384 28.4223C31.8839 26.5473 31.7125 22.0786 31.7125 20C31.7125 17.9214 31.8839 13.4589 31.1384 11.5777L31.1348 11.5768ZM20 27.3214C18.552 27.3214 17.1364 26.892 15.9324 26.0875C14.7284 25.2831 13.79 24.1396 13.2359 22.8018C12.6817 21.464 12.5368 19.9919 12.8193 18.5717C13.1018 17.1514 13.799 15.8469 14.823 14.823C15.8469 13.799 17.1514 13.1018 18.5717 12.8193C19.9919 12.5368 21.464 12.6817 22.8018 13.2359C24.1396 13.79 25.2831 14.7284 26.0875 15.9324C26.892 17.1364 27.3214 18.552 27.3214 20C27.3226 20.9618 27.134 21.9144 26.7665 22.8032C26.399 23.692 25.8597 24.4996 25.1797 25.1797C24.4996 25.8597 23.692 26.399 22.8032 26.7665C21.9144 27.134 20.9618 27.3226 20 27.3214ZM27.6232 14.0804C27.2852 14.0805 26.9547 13.9805 26.6735 13.7928C26.3924 13.6051 26.1732 13.3383 26.0437 13.026C25.9143 12.7138 25.8803 12.3701 25.9461 12.0386C26.012 11.707 26.1746 11.4024 26.4136 11.1633C26.6526 10.9243 26.9571 10.7614 27.2886 10.6954C27.6201 10.6294 27.9638 10.6632 28.2761 10.7925C28.5884 10.9218 28.8554 11.1409 29.0432 11.4219C29.231 11.703 29.3313 12.0334 29.3313 12.3714C29.3322 12.5959 29.2888 12.8184 29.2036 13.026C29.1184 13.2337 28.993 13.4225 28.8346 13.5816C28.6763 13.7407 28.488 13.867 28.2808 13.9532C28.0735 14.0394 27.8513 14.0838 27.6268 14.0839L27.6232 14.0804ZM35.7143 0H4.28571C3.14907 0 2.05898 0.451529 1.25526 1.25526C0.451529 2.05898 0 3.14907 0 4.28571L0 35.7143C0 36.8509 0.451529 37.941 1.25526 38.7447C2.05898 39.5485 3.14907 40 4.28571 40H35.7143C36.8509 40 37.941 39.5485 38.7447 38.7447C39.5485 37.941 40 36.8509 40 35.7143V4.28571C40 3.14907 39.5485 2.05898 38.7447 1.25526C37.941 0.451529 36.8509 0 35.7143 0ZM34.1857 25.8929C34.0705 28.1813 33.5482 30.2089 31.8777 31.875C30.2071 33.5411 28.1813 34.0741 25.8955 34.183C23.5375 34.3161 16.4679 34.3161 14.1098 34.183C11.8214 34.0679 9.80089 33.5446 8.12768 31.875C6.45446 30.2054 5.92857 28.1768 5.81964 25.8929C5.68661 23.5339 5.68661 16.4634 5.81964 14.1071C5.93482 11.8188 6.45089 9.79107 8.12768 8.125C9.80446 6.45893 11.8304 5.93214 14.1098 5.82321C16.4679 5.69018 23.5375 5.69018 25.8955 5.82321C28.1839 5.93839 30.2107 6.46161 31.8777 8.13125C33.5446 9.80089 34.0768 11.8295 34.1857 14.1179C34.3188 16.4679 34.3188 23.5321 34.1857 25.8929Z"/>
                        </svg>
                    
                    </div>
                    <div class="icons-social">
                        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6786 15.1875L25.1786 20.0179L16.6786 24.8482V15.1875ZM40 4.28571V35.7143C40 38.0804 38.0804 40 35.7143 40H4.28571C1.91964 40 0 38.0804 0 35.7143V4.28571C0 1.91964 1.91964 0 4.28571 0H35.7143C38.0804 0 40 1.91964 40 4.28571ZM36.25 20.0268C36.25 20.0268 36.25 14.7054 35.5714 12.1518C35.1964 10.7411 34.0982 9.63393 32.6964 9.25893C30.1696 8.57143 20 8.57143 20 8.57143C20 8.57143 9.83036 8.57143 7.30357 9.25893C5.90179 9.63393 4.80357 10.7411 4.42857 12.1518C3.75 14.6964 3.75 20.0268 3.75 20.0268C3.75 20.0268 3.75 25.3482 4.42857 27.9018C4.80357 29.3125 5.90179 30.375 7.30357 30.75C9.83036 31.4286 20 31.4286 20 31.4286C20 31.4286 30.1696 31.4286 32.6964 30.7411C34.0982 30.3661 35.1964 29.3036 35.5714 27.8929C36.25 25.3482 36.25 20.0268 36.25 20.0268Z"/>
                        </svg>
                    </div>
                </div>

                <br><br>
                <hr>
                <br>
                <div class="rodape-copyright">
                    <p>Copyright © 2023 | Prodigy. Todos os direitos reservados.<p>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/perfil.js" asp-append-version="true"></script>
        <script src="~/js/payment.js" asp-append-version="true"></script>
        <script src="~/js/doughnut.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    }
    else if(ViewBag.Layout == "Dashboard")
    {
        <header>
            <nav class="nav">
            <!-- NAVBAR INÍCIO -->
            <div class="barra">
                <div class="topo">
                    <img src="~/img/svg/PRODIGY.svg" alt="" class="logo">
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Index"><img src="~/img/svg/Dashboard.svg" alt=""><p class="ps-3 m-0">Dashboard</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Caixa"><img src="~/img/svg/Balance.svg" alt=""><p class="ps-3 m-0">Fluxo de caixa</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Pedidos"><img src="~/img/svg/Tips.svg" alt=""><p class="ps-3 m-0">Pedidos</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Estoque"><img src="~/img/svg/Inventory.svg" alt=""><p class="ps-3 m-0">Estoque</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Funcionarios"><img src="~/img/svg/Employeers.svg" alt=""><p class="ps-3 m-0">Funcionários</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Agenda"><img src="~/img/svg/Calendar.svg" alt=""><p class="ps-3 m-0">Agenda</p></a>
                </div>
                <hr id="hr">
                <div class="baixo">
                    <a class="ps-3" asp-area="" asp-controller="Usuario" asp-action="Index"><img src="~/img/svg/Profile.svg" alt=""><p class="ps-3 m-0">Perfil</p></a>
                    <a class="ps-3" asp-area="" asp-controller="SHome" asp-action="Config"><img src="~/img/svg/Config.svg" alt=""><p class="ps-3 m-0">Configurações</p></a>
                        <a class="ps-3" asp-area="" asp-controller="Usuario" asp-action="Logout"><img src="~/img/svg/Subtract.svg" alt=""><p class="ps-3 m-0">Sair</p></a>
                </div>
            </div>
            <!-- NAVBAR FIM -->
            </nav>
            
        </header>


        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/perfil.js" asp-append-version="true"></script>
        <script src="~/js/payment.js" asp-append-version="true"></script>
        <script src="~/js/doughnut.js" asp-append-version="true"></script>
        <script src="~/js/estoque.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    }

    <script src="https://kit.fontawesome.com/6fe9f6935b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js" integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="http://www.chartjs.org/assets/Chart.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>