﻿@{
    ViewData["Title"] = "Dashboard";
}

<div class="container main-dashboard">
    <div class="title"><p class="title-system">Dashboard</p></div>

    <div class="cards-dashboard"> @*Div principal que armazena os 4 cards = relatório/vendas/estoque/histórico*@
        
        <div class="card-relatorio"> @*Div relatório*@
            <div class="subtitle-cards-dashboard"><p class="m-0">Relatório</p></div>
            <div class="content-relatorio">
                <div class="doughnut-chart mx-auto"> @*Gráfico do relatório*@
                    <canvas id="myChart"></canvas>
                </div> 
                
                <div class="listen-relatorio"> @*Lista que fica abaixo do gráfico*@
                    <div class="item-lucro d-flex flex-row align-items-center">
                        <div class="circle-lucro me-1"></div> @*Estas divs circle são os círculos ao lado dos paragrafos*@
                        <p class="m-0">Lucro</p>
                    </div>
                    <div class="item-faturamento d-flex flex-row align-items-center">
                        <div class="circle-faturamento me-1"></div>
                        <p class="m-0">Faturamento</p>
                    </div>
                    <div class="item-lucro d-flex flex-row align-items-center">
                        <div class="circle-despesas me-1"></div>
                        <p class="m-0">Despesas</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-vendas">
            <div class="info-vendas d-flex flex-row justify-content-between">
                <div class="nome-valor-vendas">
                    <div class="subtitle-cards-dashboard">Total de Vendas</div>
                    <p class="valor-vendas m-0">R$1024,83</p>
                </div>
            </div>
            <div class="bar-chart mx-auto">
                    <canvas class="line"></canvas>
            </div>
        </div>

        <div class="card-estoque">
            <div class="subtitle-cards-dashboard">Estoque</div>
            <table class="table table-estoque-dashboard">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Quant.</th>
                    </tr>
                </thead>
                <tbody>
                    @if(ViewBag.Produtos != null)
                    {
                        foreach(var prod in ViewBag.Produtos)
                        {
                        <tr>
                            <th scope="row">@prod.SProdutoId</th>
                            <td>@prod.Nome</td>
                            <td>@prod.Marca</td>
                            <td>@prod.QuantProduto</td>
                            @* <td><i class="fa fa-exclamation-triangle" style="color: yellow;"></i></td> *@
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="card-agenda">
            <div class="subtitle-cards-dashboard">Pedidos</div>
            <table class="table table-estoque-dashboard">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if(ViewBag.Pedidos != null)
                    {
                        foreach(var prod in ViewBag.Pedidos)
                        {
                        <tr>
                            <th scope="row">@prod.SPedidoId</th>
                            <td>@prod.Descricao</td>
                            <td>@prod.ValorPedido</td>
                            <td>@prod.Status</td>
                            @* <td><i class="fa fa-exclamation-triangle" style="color: yellow;"></i></td> *@
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>