@model IEnumerable<ProdigyWeb.Models.SPedido>
@{
    ViewData["Title"] = "Pedidos";
}
<!-- LISTA DE PEDIDOS INÍCIO -->
<div class="fundo">
  <div class="mb-3 d-flex flex-row justify-content-between w-100">
    <div class="title-page">
        <div class="title-system">Pedidos</div>
    </div>
    <div class="div-button-search d-flex flex-row">
        <div class="div-botoes-estoque d-flex flex-row justify-content-around">
          <a asp-area="" asp-controller="SPedidos" asp-action="Addpedido"><button class="button-dash-default me-2">Adicionar pedido</button></a>
        </div>
        <form asp-action="Index" asp-controller="SPedidos" method="get" class="d-flex">
            <input name="pedidoBusca" class="form-control ms-2 me-2 input-search" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="button-search justify-content-center" type="submit">
              <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </button>
        </form>
    </div>
  </div> 
  <div class="table-responsive-lg tabela">
    <table class="table tabela-estoque">
      <thead>
        <tr>
          <th scope="col">Cód.</th>
          <th scope="col">Descrição</th>
          <th scope="col">Status</th>
          <th scope="col">Previsão</th>
          <th scope="col">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @if(Model != null)
        {
          foreach(var item in Model)
          {
          <tr>
            <th scope="row">@item.SPedidoId</th>
            <td>@item.Descricao</td>
            <td>@item.Status</td>
            <td>@item.DataEntrega</td>
            <td>R$ @item.ValorPedido</td>
            <td>
              <div class="d-flex botoes-estoque">
                <a type="button" class="botao-estoque" title="Editar pedido"><i class="fa-solid fa-square-pen fa-xl"></i></a>
                <a type="button" class="botao-estoque" data-bs-toggle="modal" data-bs-target="#verInfoProduto" data-bs-whatever="mdo" title="Ver informações sobre o pedido"><i class="fa-solid fa-circle-info fa-xl"></i></a>
              </div>
            </td>
          </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>